<!DOCTYPE html>
<html>
<body>

<button id="pay">Pay Now</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

// 1️⃣ CALL BACKEND CREATE ORDER API
fetch("http://127.0.0.1:8000/api/buy/", {
    method: "POST",
    headers: {
        "Authorization": "Token 538e5a16648d3d72ea9a7786a7ba69291aeb07de",
        "Content-Type": "application/json"
    },
    body: JSON.stringify({ course: 4 })
})
.then(res => res.json())
.then(data => {

    console.log("ORDER RESPONSE:", data);

    let options = {
        "key": data.key,
        "order_id": data.order_id,
        "amount": data.amount, 
        "currency": "INR",

        "handler": function (response) {

            console.log("RAZORPAY RESPONSE:", response);

            // 4️⃣ VERIFY API
            fetch("http://127.0.0.1:8000/api/payment/verify/", {
                method: "POST",
                headers: {
                    "Authorization": "Token 538e5a16648d3d72ea9a7786a7ba69291aeb07de",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(response)
            })
            .then(res => res.json())
            .then(console.log);
        }
    };

    document.getElementById("pay").onclick = function () {
        let rzp = new Razorpay(options);
        rzp.open();
    };

});
</script>

</body>
</html>
