asgiref==3.8.1
comtypes==1.4.4
crispy-tailwind==1.0.3
Django==5.1
django-crispy-forms==2.3
django-extensions==4.1
djangorestframework==3.15.2
pillow==10.4.0
pygame==2.6.1
pypiwin32==223
python-decouple==3.8
pyttsx3==2.90
pywin32==306
sqlparse==0.5.1
tzdata==2024.1
